.main-content{
	width: 80%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin:  auto;
	display: flex;
	height: auto;

}

.company__info{
	background-color: #1a2020;
	/* border-top-left-radius: 20px; */
	/* border-bottom-left-radius: 20px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
		
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
	text-align: center;
	
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;

	border-right: 5px solid #008080;



}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 60%!important;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	/* margin-top: 1.5em;
	margin-bottom: 1em; */
	
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.myContainer {
	

	/* background-image: url(https://source.unsplash.com/1600x900/?dark,books,library);
	background: #424242;
    background: linear-gradient( #424242, #212121);
	width: 90%;
	background-size: cover;

	opacity: 1.0; */

	
  background:#214665
  /* url(https://source.unsplash.com/1600x900/?dark,books,library); */

}

.company__logo{
	width: 600px;
}